@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "partials";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-toggler{
    border: none;
}
.titulo{
    color:$bgcolor1;
}
header button{
    margin-right: 15px;
}
.navbar-brand{
    margin-left: 15px;
}
.container-fluid{
    padding: 0 !important;
}
.banner{
    width: 100%;
    height: 350px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.bannerUno{
    background-image: url(../imagenes/bannerHobbiesTrueno.jpg);
}
.bannerDos{
    background-image: url(../imagenes/bannerHobbiesTruenoCatalogo.jpg);
}
.bannerTres{
    background-image: url(../imagenes/bannerHobbiesTruenoColeccionistas.jpg);
}
.bannerCuatro{
    background-image: url(../imagenes/bannerHobbiesTruenoSobreNosotros.jpg);
}
.bannerCinco{
    background-image: url(../imagenes/bannerHobbiesTruenoContacto.jpg);
}
.card-img-top{
    width: 100% !important; 
    height: 100% !important;
}
.hover:hover{
    transform: scale(1.1);
    transition: .3s;
}
.card-text{
    font-size: large;
    font-weight: bolder;
}
.productos{
    padding-top: 20px;
    margin-top: 20PX;
    background-color:$bgcolor1;
}
.contProd{
    height: 390px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 20px;
    border: 3px solid $bgcolor1;
}
.prods{
    padding-top: 10px;
    background-color: $bgcolor1;
    text-align: center;
    padding-bottom: 20px;
}
.prods button{
    background-color:$bgcolor3;
    padding: 5px;
    border: none;
    border-radius: 15%;
    color: $bgcolor2;
}
.nosotros{
    margin-top: 100px;
    margin-bottom: 100px;
    border: 5px solid $bgcolor1;
    border-radius: 100px;
    text-align: center;
}
.parrafo{
    font-family: $font2;
}
.card-img-top{
    color: $textcolor;
}
h2{
    font-family: $font1;
    padding-top: 25px;
    padding-bottom: 25px;
    color:$titlescolor;
    text-align: center;
}
.info{
    text-align: center;
}
p{
    color:$textcolor;
}
.nosotrosp{
    font-family: $font2;
    text-align: center;
    text-align: justify;
    font-weight: bold;
}
.imgnosotros{
    padding: 20px;
    height: 100%;
    width: 100%;
    border-radius: 15%;
}
.texto{
    color:$textcolor;
    padding-top: 15px;
}
iframe{
    padding-top: 15px;
    height: 135px;
}
h5{
    padding-top: 15px;
}
.containerform{
    padding: 100px;    
}
footer{
    margin-top: 100px;
}