@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.container ul {
  list-style: none;
}
.container ul li a {
  text-decoration: none;
}

.prods button:hover {
  background-color: #bd15a9;
}

.prods button:active {
  background-color: #bd15a9;
  box-shadow: 0 3px #212529;
  transform: translateY(4px);
}

.imgnosotros:hover {
  transform: scale(1.1);
  transition: 0.2s;
  filter: grayscale(100%);
}

.imgnosotros:hover {
  transform: scale(1.1);
  transition: 0.2s;
  filter: grayscale(100%);
}

.card-img-top:hover {
  transform: scale(1.1);
  transition: 1.1s;
}

.card-img-top:hover {
  transform: scale(1.1);
  transition: 1.1s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulo {
  color: #FFC107;
}

header button {
  margin-right: 15px;
}

.navbar-brand {
  margin-left: 15px;
}

.container-fluid {
  padding: 0 !important;
}

.banner {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.bannerUno {
  background-image: url(../imagenes/bannerHobbiesTrueno.jpg);
}

.bannerDos {
  background-image: url(../imagenes/bannerHobbiesTruenoCatalogo.jpg);
}

.bannerTres {
  background-image: url(../imagenes/bannerHobbiesTruenoColeccionistas.jpg);
}

.bannerCuatro {
  background-image: url(../imagenes/bannerHobbiesTruenoSobreNosotros.jpg);
}

.bannerCinco {
  background-image: url(../imagenes/bannerHobbiesTruenoContacto.jpg);
}

.card-img-top {
  width: 100% !important;
  height: 100% !important;
}

.hover:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.card-text {
  font-size: large;
  font-weight: bolder;
}

.productos {
  padding-top: 20px;
  margin-top: 20PX;
  background-color: #FFC107;
}

.contProd {
  height: 390px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 20px;
  border: 3px solid #FFC107;
}

.prods {
  padding-top: 10px;
  background-color: #FFC107;
  text-align: center;
  padding-bottom: 20px;
}

.prods button {
  background-color: #bd15a9;
  padding: 5px;
  border: none;
}

.nosotros {
  margin-top: 100px;
  margin-bottom: 100px;
  border: 5px solid #FFC107;
  border-radius: 100px;
  text-align: center;
}

.parrafo {
  font-family: "Open Sans", sans-serif;
}

.card-img-top {
  color: #212529;
}

h2 {
  font-family: "Lato", sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #bd15a9;
  text-align: center;
}

.info {
  text-align: center;
}

p {
  color: #212529;
}

.nosotrosp {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-align: justify;
  font-weight: bold;
}

.imgnosotros {
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 15%;
}

.texto {
  color: #212529;
  padding-top: 15px;
}

iframe {
  padding-top: 15px;
  height: 135px;
}

h5 {
  padding-top: 15px;
}

.containerform {
  padding: 100px;
}

footer {
  margin-top: 100px;
}

/*# sourceMappingURL=estilos.css.map */
